<html>
  <head>
    <title>SunDawg's Photo Sharing Site</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/flowplayer-3.2.2.min.js" type="text/javascript"></script>
  </head>
  <body>
    <a href="/">Home</a> | <a href="/callbacks">View Callbacks</a>
    <%= yield %>
  </body>
</html>
