<script type="text/javascript" charset="utf-8">
$(function () {
  var interval = setInterval(function () {
	  $.ajax({
			url: '/poll?job_url=<%= @job_url %>',
			dataType: 'json',
			success: function(data) {
				if (data.complete) {
					interval.clearInterval();
					window.location = data.url;
				} 
			},
			error: function() {
				interval.clearInterval();
			}
		}
	}, 5000);
});
</script>
<p>Hardcore rendering action.</p>